.header-container{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    color: whitesmoke;
    margin-bottom: 10px;
}
.header{
    text-align: center;
}
.header h1, h2, p{
    margin: 0;
    padding: 0;
    line-height: 40px;
}
.header h1{
    color: yellowgreen;
}
.header h2{
color: tomato;
}
